body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: lightskyblue;
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  display: block;
  background-color: yellow;
  left: 150px;
  right: 25px;
  font-size: 20px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

::first-letter {
  text-transform: capitalize;
}
.col-8,
.col-2,
.col-4 {
  font-size: 18px;
}

.frame-wrapper {
  margin: 30px auto;
  max-width: 600px;
}

.frame {
  border: 1px solid #dadde1;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 8px;
}

.temperature.units.active {
  color: black;
  cursor: default;
}

.temperature.units.active :hover {
  text-decoration: none;
}
